.card-poster{
    height:190px;
    width:300px;
    border-radius:5px;
    /* object-fit:contain; */
    /* padding: 5px 5px 5px 5px; */
    transition:0.3s;
    z-index: 0;
    border: 5px solid rgb(83, 83, 83);
    position: relative;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.6);
}


.card-poster:hover{
    width:320px;
    border: 5px solid white;
    z-index: 1;
    transform: scale(1);
    padding: 3px;
}